@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
font-family: "Courier New", Courier, "Lucida Console", Monaco, monospace;/**/
font-size: 11px;
}

  option:hover
  {
    background: #C6C4BD;
  }

.ugly
{
font-size: 11px;
font-weight: bold;
}

.grey { color: #C0C0C0; background-color: black; }
.red { color: red; }
.green { color: #B9FF80; background-color: black; }

select { width: 340px; }
.autoWidth { width: auto; }

table {
    border-collapse: collapse;
}

ul.small
{
	list-style: square outside none;
	margin: 0;
	padding: 0;	
}

@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
        @keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

.drophover {
    color:green;
}
		
.blink {
   text-decoration:blink;

  -webkit-animation-name:blinker;
          animation-name:blinker;  
  -webkit-animation-iteration-count:infinite;  
          animation-iteration-count:infinite;  
  -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
          animation-timing-function:cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration:1s; 
          animation-duration:1s; 
}

.form
{
	border: 1px solid #990000;
	padding: 4px;
	margin: 3px;
	white-space: nowrap;
	display: inline-block;
	float: left;
}

.left
{
text-align: left !important;
}

.sizer
{
	display: inline-block;
	float: left;	border: 1px solid #990000;

	/*max-height: 800px;*/
	padding: 2px;
	margin: 2px;
}

.red0 { color: #F21F07 !important; font-weight: bold !important; font-style: italic !important;  }
.green0 { color: #4CC804; font-weight: bold; font-style: italic;}
.green1 { color: #52B01C; font-weight: bold; font-style: italic; }
.green2 { color: #5B913B; font-style: italic; }
.yellowback { background-color: #F2F22C !important; } 

.image img {
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}


.right
{
float: left;
display: inline-block;
text-align: right;
}

.left { text-align: left !important; }

.mtx 
{
	color: #990000;
	font-weight: bold;
	font-style: italic;
}

.inUse 
{
	color: #43990B;
	font-style: italic;
}

.form td
{
	padding-left: 5px;
	padding-right: 5px;
}

.fromDB
{
color: #000000;
font-weight: bold;
font-style: italic;
}

::-webkit-input-placeholder {
   color:  #A19DA3;
   text-transform: none !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A19DA3; 
   text-transform: none !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:  #A19DA3; 
   text-transform: none !important;
}

:-ms-input-placeholder {  
   color:  #A19DA3; 
   text-transform: none !important;
}

input.wide
{
width: 340px;
font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
font-size: 12px;
}

input
{
text-transform:uppercase;
font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
font-size: 12px;
}

.noupper
{
text-transform: none !important;
}
#progress
{ 
width: 160;
min-height: 100;
background-color: #FFFFFF;
border-color: #99C050;
border-width: 3px;
border-style: solid;
vertical-align: middle;
text-align: left;
}

.nowrap table
{

table-layout:fixed;
max-height: 800px;
float: left;
width: 100%;
}

.nowrap td
{
    white-space: -o-pre-wrap; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
word-wrap: normal;
overflow: inherit;
max-width: 600px;
}

.ghost table{
    border-collapse: collapse;
    border-spacing: 0;
	margin:0px;
	padding:0px;
}

.ghost td
{
border: 0px;
padding: 2px;
}

.plain
{
	margin:0px;padding:0px;
}

.plain table{
    border-collapse: collapse;
        border-spacing: 0;
	height:100%;
	margin:0px;padding:0px;
}

.plain td {
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-left:0px;
	border-right:0px;

padding: 4px;
}

.standard {
	margin:10px;
	padding:0px;
	/*width:100%;*/
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.standard table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;
	padding:20px;
}.standard tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.standard table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.standard table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.standard tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.standard tr:hover td{
	background-color:#ffffff;
		

}
.standard td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:4px 9px;
	font-size:12px;
	font-family:Courier;
	font-weight:normal;
	color:#000000;
}.standard thead tr:last-child td{
	border-width:0px 1px 0px 0px;
}.standard tr td:last-child{
	border-width:0px 0px 1px 0px;
}.standard tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.standard thead tr td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#005fbf");	background: -o-linear-gradient(top,#005fbf,005fbf);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Courier;
	font-weight:bold;
	color:#ffffff;
}
.standard thead tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #005fbf 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #005fbf) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#005fbf");	background: -o-linear-gradient(top,#005fbf,005fbf);

	background-color:#005fbf;
}
.standard thead tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.standard thead tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.CSSTableGenerator {
	margin:10px;
	padding:0px;
	/*width:400px;*/
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	/*width:100%;*/
	height:100%;
	margin:0px;
	padding:20px;
}
.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table thead td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table thead td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tbody tr:nth-child(odd){ background-color:#aad4ff; }
.CSSTableGenerator tbody tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
	/*border-width:0px 1px 1px 0px;*/
	text-align:center;
	padding:4px 9px;
	font-size:12px;
	font-family:Courier;
	font-weight:normal;
	color:#000000;
}
.CSSTableGenerator tr:last-child td{
	/*border-width:0px 1px 1px 0px;*/
	border-width:1px 1px 1px 1px;

}
.CSSTableGenerator tr td:last-child{
	/*border-width:0px 1px 1px 0px;*/
	border-width:1px 1px 1px 1px;
}
.CSSTableGenerator tr:last-child td:last-child{
	/*border-width:0px 1px 1px 0px;*/
	border-width:1px 1px 1px 1px;
}

.CSSTableGenerator thead td{
		background:-o-linear-gradient(bottom, #3679bc 5%, #3679bc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3679bc), color-stop(1, #3679bc) );
	background:-moz-linear-gradient( center top, #3679bc 5%, #3679bc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3679bc", endColorstr="#3679bc");	background: -o-linear-gradient(top,#3679bc,3679bc);

	background-color:#3679bc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Courier;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator thead:hover td{
	background:-o-linear-gradient(bottom, #3679bc 5%, #3679bc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3679bc), color-stop(1, #3679bc) );
	background:-moz-linear-gradient( center top, #3679bc 5%, #3679bc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3679bc", endColorstr="#3679bc");	background: -o-linear-gradient(top,#3679bc,3679bc);

	background-color:#3679bc;
}
.CSSTableGenerator tbody tr:first-child td:first-child{
	/*border-width:0px 1px 1px 0px;*/
	border-width:1px 1px 1px 1px;
}
.CSSTableGenerator tbody tr:first-child td:last-child{
	/*border-width:0px 1px 1px 0px;*/
	border-width:1px 1px 1px 1px;
	
}

/* This css button was generated by css-button-generator.com */
.blueBtn {
	font-size:12px;
	font-family:Verdana;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	/*border:1px solid #337fed;*/
	padding:6px 15px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	background:-ms-linear-gradient( top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3d94f6), color-stop(100%, #1e62d0) );
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
}
.blueBtn:hover {
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	background:-ms-linear-gradient( top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #1e62d0), color-stop(100%, #3d94f6) );
	background-color:#1e62d0;
}
.blueBtn:active {
	position:relative;
	top:1px;
}
.blueBtn:disabled {
	background:-moz-linear-gradient( center top, #838891 5%, #969BA3 100% );
	background:-ms-linear-gradient( top, #838891 5%, #969BA3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#838891', endColorstr='#969BA3');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #838891), color-stop(100%, #969BA3) );
	background-color:#838891;
}


.redBtn {
	font-size:12px;
	font-family:Verdana;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	/*border:1px solid #d02718;*/
	padding:6px 15px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	background:-ms-linear-gradient( top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f24537), color-stop(100%, #c62d1f) );
	background-color:#f24537;
	color:#ffffff;
	display:inline-block;
}
.redBtn:hover {
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	background:-ms-linear-gradient( top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #c62d1f), color-stop(100%, #f24537) );
	background-color:#c62d1f;
}


.viewer
{
padding: 10px;
margin: 5px;
font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
border:1px solid #990000;
width: 80%;
max-height:800px;
overflow:auto;
}

label 
{
float: left;
width: 8em;
margin-right: 0.25em;
font-weight: bold;
}

.conditional
{
display: block;
}

label 
{
	display: block;
}



